@font-face{
    font-family: 'Police';
    src: url('introheadr-base-webfont.ttf');
}

@font-face{
    font-family: 'Police2';
    src: url('introrustg-base2line-webfont.ttf');
}

body{
    background-image: url('Images/Fond2.jpg');
    
    /*background-color:#E6E6E6;*/
    margin:0;
    font-family: Police;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


