
footer {
	background-color:rgb(40,40,40);
	width:100%;
        display: inline-block;
        position: absolute;
        bottom:0;
        max-height:171px
}
footer a h3{
	text-align:center;
	color:#409fb0; 
      	display:inline;
}
footer a h3:hover{
    text-decoration:underline;
}


footer img{
	height:35px;
	width:35px;
	margin:0px 10px;
}

.image_footer{
    width: 30%;
    float: left;
}
.lien_footer{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
    float:right;
}
.lien_footer h3{
        margin:1em;
}
.nom_site_footer{
    text-align: center;
    color:#409fb0;
    padding-bottom:10px;
}

/*Pour que le footer reste en bas de la page quelle que soit la taille du contenu*/
html{
    height:100%;
}
body{
    min-height:100%;
    position:relative;
}
#global{
   padding-bottom: 171px;
}
*{
    box-sizing:border-box;
}
