@font-face{
    font-family: 'Police';
    src: url('introheadr-base-webfont.ttf');
}

@font-face{
    font-family: 'Police2';
    src: url('introrustg-base2line-webfont.ttf');
}

/*{border: solid black 2px;}*/

body{
    background-image: url('Images/Fond2.jpg');
    
    /*background-color:#E6E6E6;*/
    margin:0;
    font-family: Police;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}



header{
    font-family:Police2;
    display:block;
    width:100%;
    margin-left: 0px;
    //background-image: url("Images/Party.jpg");
    background-repeat: no-repeat;
    background-size: cover;/*Rogne l'image de façon à ce qu'elle prenne toute la largeur de l'écran et que ce qui dépasse en hauteur au dessus et au dessous soit coupé, sans déformer l'image*/
    text-shadow:  3px 3px 5px #777;
}

header h1{
    font-size:2.5em;
    text-align:center;
    padding-top: 20px;
}


header p{
    text-align:center;
    font-size: 1.4em;
}

.conteneur{
    margin-left:auto;
    margin-right:auto;
    width:80%;
    display: block;
    text-align: center;
    font-size: 2em;
    border-radius: 5px;
}

.conteneur>display>li{
    display:inline;
}

.petit_conteneur{
    width: 25%;
    background-color: rgb(40,40,40);
    border-radius: 10px;
    margin-left: 10px;
    margin-right:10px;
}

.petit_conteneur h3{
    color:#409fb0;
}

.petit_conteneur p{
    margin:20px;
    color:white;
}

.suggestion-évènement{
    width:85%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 10em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    border: 3px solid black;
}

#e-un{
    background-image: url('Images/PSGReal.jpg');
}

#e-deux{
    background-image: url('Images/ColorRun.jpg');
}

.image_couverture_evenement{
    width:85%;
    background-repeat: no-repeat;
    background-size: cover;
	background-position: 50% 50%;
    height: 10em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    border: 3px solid black;
}

.image_couverture_evenement h3{
    color:black;
    padding: 2px 5px 5px 2px;
    font-size:1.2em;
    background-color: rgba(255,255,255,0.4);
    display:inline-block; 
}

.titre{
    margin-left: 1em;
}

.lieu{
    margin-left: 2.5em;
    margin-right: 2.5em;
}

.date{
    margin-right: 1em;
}

.suggestion-ville{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    height:10em;
    margin-bottom: 2em;
    border: 3px solid black;
}

.suggestion-ville h3{
    background-color: rgba(255,255,255,0.4);
    display: inline-block;
    margin-top: 10px;
    padding:2px 5px 2px 5px;
    font-size: 2em;
}

.plus{
    color:#409fb0;
    display:block;
    margin-top:-40px;
    margin-bottom: 50px;
}

#v-un{
    background-image: url('Images/Paris.jpg');
    margin-right: 30px;
}

#v-deux{
    background-image: url('Images/Lyon.jpg');
    margin-left: 27px;
}

    

#slideshow {
    width: 95%;
    height: 500px;
    padding: 15px;
    margin-left:1%;
    margin-right:3%;
    margin-top: 20px;

}
 

#slideshow:before,
#slideshow:after {
    position: absolute;
    bottom:16px;
    z-index: -10;
    width: 50%;
    height: 20px;
    content: " ";
    background: rgba(0,0,0,0);
    border-radius: 75%;
 }
#slideshow:before {
    left:0;
    transform: rotate(-4deg);
}
#slideshow:after {
    right:0;
    transform: rotate(4deg);
     /*box-shadow: 0 0 0px rgba(0,0,0, 0.4), 0 20px 10px  rgba(0,0,0, 0.7); */
}

/* gestion des dimensions et débordement du conteneur */
#slideshow .container {
    position:relative;
    width: 1200px;
    height: 500px;
    overflow: hidden;
}
    
/* on prévoit un petit espace gris pour la timeline */
#slideshow .container:after {
    position:absolute;
    bottom: 0; left:0;
    content: " ";
    width: 100%;
    height: 1px;
   /* background: #999; */
}
/* 
   le conteneur des slides
   en largeur il fait 100% x le nombre de slides
*/
#slideshow .slider {
    position: absolute;
    left:0; top:0;
    width: 400%;
    height: 500px;
}

/* annulation des marges sur figure */
#slideshow figure {
    position:relative;
    display:inline-block;
    padding:0; margin:0;
}
/* petit effet de vignette sur les images */
#slideshow figure:after {
    position: absolute;
    display:block;
    content: " ";
    top:0; left:0;
    width: 100%; height: 100%;
    box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
}

/* fonction d'animation, n'oubliez pas de prefixer ! */
@keyframes slider {
    0%, 20%, 100%   { left: 0 }
    25%, 45%        { left: -100% }
    50%, 70%        { left: -200% }
    75%, 95%        { left: -300% }
}

/* complétez le sélecteur : */
#slideshow .slider {
    /* ... avec la propriété animation */
    animation: slider 17s infinite;
}

.slider img{
background-size: cover;
background-position: 50% 50%;
}

